{% extends "bootstrap/base.html" %}

{% import "macros.html" as blog %}

{% block css_base %}
    <link rel="stylesheet" href="{{ url_for('.static', filename='css/main.css') }}">
    {{ super() }}
{% endblock %}


{% block navbar %}
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}

{%if breadcrumb is defined %}
    {% set title = breadcrumb[-1]['title'] | prettify_file_name %}
{% endif %}

{% block top %}
    <div class="page-header">{{ title | center }}</div>
{% endblock %}


{% block body %}
    <div class="row">
        <div class="col-xs-4 col-md-2">
            {% block sidebar%}
                {%if breadcrumb is defined %}
                    <ul>
                    <li>
                        <a href="{{ url_for('blog_index') }}"> Index </a>
                    </li>

                    {{ blog.tree_items(route_tree, requested_path) }}
                    </ul>
                 {% endif %}
            {% endblock %}
        </div>
        <div class="col-xs-14 col-md-10">
            {%if breadcrumb is defined %}
                {{ blog.render_breadcrumb(breadcrumb) }}
            {% endif %}
            {% block main_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
